@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

:root {

--primary: #fe2c55;
//Layout
--default-layout-header-height: 60px;
--default-layout-width: 1150px;
--default-layout-horizontal-spacer:24px;
//color
--black: #555;
--white: #fff;
--text-color: #161823;
//font
--font-family:  'Roboto Flex', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
 box-sizing: border-box;
}
html {

 font-size: 62.5%;
}
body {
 font-family: var(--font-family) ;
 font-size: 1.6rem;
 line-height: 1.5;
 text-rendering: optimizeSpeed;
 color: var(--text-color);
}
button, input, [tabindex] {
    border: none;
    outline: none;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
//Tippy tooltip
body {
     .tippy-box {
    border-radius: 8px;
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.2rem;
    background-color: rgba(84, 84, 84 ,0.92);
}
.tippy-content {
    padding: 8px 9px;
}
.tippy-arrow {
    color: rgba(84, 84, 84 ,0.92);
} 
.tippy-box [data-placement^=bottom]>.tippy-arrow::before {
    top: -8px;
}
}