@import 'normalize.css';

:root {

--primary: #fe2c55;
//Layout
--default-layout-header-height: 60px;
--default-layout-width: 1150px;
--default-layout-horizontal-spacer:24px;
//color
--black: #555;
--white: #fff;
--lightgray: #eee;
--text-color: #161823;
//font
--font-family:  'ProximaNovaRegular', sans-serif;
}
//font
@font-face {
    font-family: ProximaNovaBold;
    src: url('/assets/font/Proxima-Nova-Bold.woff');
}
@font-face {
    font-family: ProximaNovaRegular;
    src: url('/assets/font/Proxima-Nova-Regular.woff2');
}
@font-face {
    font-family: ProximaNovaSemiBold;
    src: url('/assets/font/Proxima-Nova-Semibold.woff2');
}
@font-face {
    font-family: SofiaproBold;
    src: url('/assets/font/sofiapro-bold.woff');
}
@font-face {
    font-family: SofiaproSemiBold;
    src: url('/assets/font/sofiapro-semibold.otf');
}
*{
    margin: 0px;
    padding: 0px;
 box-sizing: border-box;
}
html {

 font-size: 62.5%;
}
body {
position: relative;
 font-family: var(--font-family) ;
 font-size: 1.6rem;
 line-height: 1.5;
 text-rendering: optimizeSpeed;
 color: var(--text-color);
}
button, input, [tabindex] {
    border: none;
    outline: none;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
//Tippy tooltip
body {
     .tippy-box {
    border-radius: 8px;
    font-weight: 500;
    line-height: 2.2rem;
    font-size: 1.2rem;
    background-color: rgba(84, 84, 84 ,0.92);
}
.tippy-content {
    padding: 8px 9px;
}
.tippy-arrow {
    color: rgba(84, 84, 84 ,0.92);
} 
.tippy-box [data-placement^=bottom]>.tippy-arrow::before {
    top: -8px;
}
}